<a href="#subs" id="subscribe" class="intro-btn">Alright! Subscribe me</a>

  <div id="subscribe-form" class="hidden">
    <%= form_for(@subscription) do |f| %>
      <% if @subscription.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @subscription.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email_address %><br>
        <%= f.text_field :email_address %>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      Select your favorite shows:

      <% @series.each do |show| %>
        <div class="field">
          <%= check_box_tag "series_ids[]", show.id %>
          <%= label_tag show.id, show.name %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<a name="subs"></a>

