<button id="subscribe" class="intro-btn">All right! Subscribe me</button>

  <div class="subscribe-form">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">      <%= form_for(@subscription) do |f| %>
      <% if @subscription.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @subscription.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="form-group">
          <%= f.text_field :email_address, placeholder: "Email Address (required)", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :name, placeholder: "Your Name (required)", class: "form-control" %>
        </div>

        <hr>

        <p>Select your favorite show(s):<p>

        <% @series.each do |show| %>
          <div class="checkbox-inline">
            <%= check_box_tag "series_ids[]", show.id %>
            <%= label_tag show.id, show.name %>
          </div>
        <% end %>

        <p>Don't see your favorite show? Let us know what it is and we'll try to find it:<p>

        <div class="form-group">
          <%= text_field_tag "series_request", nil, placeholder: "Sitcom name", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Subscribe", class: "btn btn-default sub-btn" %>
        </div>
    <%   end %>
      </div>
    </div>
  </div>
