<h1 class="headline">Do you remember that one episode?</h1>

<p>The cast is in search of Kramer's car in the multi-level parking garage of a shopping mall after Kramer purchases an air conditioner. Unfortunately, no one can remember where the car was parked. Jerry is eager to urinate and goes in a dark corner. After Jerry does so, he is spotted by an officer and is held in the officer's booth. Later, George is also caught in the act of urinating. Both Jerry and George are fined and released. Then by luck, the gang finds Kramer's car but unfortunately, Kramer, who has the car keys, is still lost somewhere in the garage. Hours later, Kramer shows up, having gone on his own hunt for the air conditioner. As they all enter the car, the engine fails to start.</p>

<p>Subscribe to our mailing list for the occasional reminder about the best moments on your favorite old TV shows</p>

<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  Select your favorite shows:

  <% @series.each do |series| %>
    <div class="field">
      <%= check_box_tag "series_ids[]", series.id %>
      <%= label_tag series.id, series.name %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr>
<%= link_to "Unsubscribe", unsubscribe_path %>
