<h1><%= @series.name %> :: Admin</h1>

<% unless @series.episodes.empty? %>
  <h2>Episode content</h2>
  <% @episodes.each do |episode| %>
    <div>
      <p>Season: <%= episode.season %></p>
      <p>Summary: <%= episode.summary %></p>
      <%= link_to "Edit episode summary", edit_admin_episode_path(episode) %>
      <%= button_to "Delete episode", admin_episode_path(episode), method: :delete, data: { confirm: "Are you sure?" } %>

    </div>
  <% end %>
<% else %>
  <p>We couldn't find any episodes for this series</p>
<% end %>
