<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <%= form_for([:admin, @episode]) do |f| %>
      <% if @episode.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @episode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :summary %><br>
      <%= f.text_area :summary %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>
