<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h1>All Subscriptions</h1>
    <p>Total subscriptions: <%= @subscriptions.count %></p>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email address</th>
          <th>Date Added</th>
          <th>Series</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @subscriptions.each do |subscription| %>
        <tr>
        <td><%= subscription.name %></td>
        <td><%= subscription.email_address %></td>
        <td><%= subscription.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <% subscription.series.each do |series| %>
            <p><%= series.name %>
          <% end %>
        </td>
        <td><%= button_to "Trigger weekly email to #{subscription.name}", weekly_email_path(subscription), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Delete', admin_subscription_path(subscription), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      </tbody>
    </table>

    <hr>

    <%= render 'new_form' %>
  </div>
</div>
